.attachment-notes-text-error {
	color: var(--text-error);
}

.attachment-notes-feedback-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	padding: var(--size-2-2) 0;
	overflow: visible;
}

.attachment-notes-feedback-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-4-2);
	line-height: 1;
}

/* Indented sub-settings */
.setting-sub-items {
	margin-inline-start: 20px;
	padding-left: 1em;
	position: relative;
}

.setting-sub-items::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	background: var(--background-modifier-border);
}
